.preview-load-img{
    background-color: rgb(206, 204, 204);
    width: 200px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;

}
